@model CDI_Automotriz.ViewModels.Project.ProjectIndexViewModel
@{
    ViewBag.Title = "Projects";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Projects</h2>
        @foreach (var proyecto in Model.ListaProyectos)
        {
            <a asp-controller="Project" asp-action="Detalles" asp-route-id="@proyecto.ProyectoId">
                <div class="row ListaMultipleVertical">
                    <div class="col-xs-3">
                        @if (proyecto.ImagenPerfil != null)
                        {
                            <img class="ImagenPerfil" src="~/Uploads/@proyecto.ImagenPerfil" />
                        }
                    </div>
                    <div class="col-xs-9">
                        <h4>Nombre de proyecto: @proyecto.Nombre</h4>
                        <p>Descripción del proyecto: @proyecto.Descripcion</p>
                    </div>
                </div>
            </a>

            <div><a class="btn btn-default" asp-controller="Project" asp-action="ModificarProyecto" asp-route-id="@proyecto.ProyectoId" role="button">Modificar</a></div>
            <div><a class="btn btn-default" asp-controller="Project" asp-action="EliminarProyecto" asp-route-id="@proyecto.ProyectoId" role="button">Eliminar</a></div>

        }

    </div>
</div>
    

