@model CDI_Automotriz.ViewModels.Project.ProjectIndexViewModel
@{
    ViewBag.Title = "Projects";
}
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Proyectos</h2>
        <div>
            @foreach (var proyecto in Model.ListaProyectos)
            {

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <a class="list-group-item" asp-controller="Project" asp-action="Detalles" asp-route-id="@proyecto.ProyectoId">
                            <div class="row">
                                <div class="col-xs-3">
                                    @if (proyecto.ImagenPerfil != null)
                                    {
                                        <img class="ImagenPerfil" src="~/Uploads/@proyecto.Nombre/@proyecto.ImagenPerfil" />
                                    }
                                </div>
                                <div class="col-xs-9">
                                    <h4><strong>Nombre del proyecto:</strong></h4>
                                    <p>@proyecto.Nombre</p>
                                    <h4><strong>Descripción del proyecto:</strong></h4>
                                    <p>@proyecto.Descripcion</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-1">
                        <div>
                            <a class="btn btn-default" asp-controller="Project" asp-action="EliminarProyecto" asp-route-id="@proyecto.ProyectoId" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <div>
                            <a class="btn btn-default" asp-controller="Project" asp-action="ModificarProyecto" asp-route-id="@proyecto.ProyectoId" role="button"><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                        
                        
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
    

